.generic__container {
  align-items: center;
  justify-content: center;
  position: relative;
  color: #303f60;
}
.generic__container > .generic__wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 500px;
  background-color: white;
}
.input > input {
  height: 40px;
  font-size: 14px;
  margin: 5px 0;
  width: 100%;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid;
  background-color: #e8e8e833;
  opacity: 0.4;
}
.create__password {
  display: grid;
  grid-auto-flow: column;
}
.generic__container > .generic__wrapper > .form > .forgot__password {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}
.generic__container > .generic__wrapper > .form > .btn__container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.generic__container > .generic__wrapper > .form > .btn__container > Button {
  width: 140px;
  height: 40px;
  background-color: #43afff;
}

.generic__container > .generic__wrapper > .form > .form__footer {
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.generic__container > .generic__wrapper > .form > label {
  margin-top: 10px;
  font-size: 14px;
}
.label {
  margin-top: 10px;
  font-size: 14px;
}
.link {
  color: #43afff;
  text-decoration: none;
}

.generic__container > .fragment-1 {
  height: 200px;
  background-color: #1a253c;
}
.fragment-2 {
  display: block;
  background-color: #edf6ff;
  height: 400px;
}
